{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Auction Results: Round {{ subsession.round_number }}, Player #{{player.id_in_group}}
{% endblock %}

{% block content %}

    <table style="width: 100%;  padding: 10px;">
		<tr><td style="width: 50%;">
    		<p>You purchased {{how_many_accepted}} permit{% if how_many_accepted != 1 %}s{% endif %} in the auction</p>
    		<p>You own {{ player.permits }} permit{% if player.permits != 1 %}s{% endif %}.</p>
    		{% if player.min_production > 0 %}
			<p>You are required to produce with at least {{ player.min_production }} plant{% if player.min_production > 1 %}s{% endif %}.</p>
			{% endif %}
    		<p>Each of your plants requires {{ player.emission_intensity }} 
				permit{%if player.emission_intensity > 1 %}s{% endif %} to produce.</p>
    		<p>Your current cash balance is <b>{{ player.money }}</b>. 
			</p>
		</td>
		<td> 
			<p>Output price this period: <b>{{ subsession.output_price }}</b> per unit produced.</p>
			<p>Permits for sale at auction this period: {{ permits_available }}</p>
			<p style="margin-left: 15pt;">Permits were sold at a single uniform price of {{subsession.auction_price}}, which was the value of the <em>highest rejected bid</em>.</p>
			<p style="margin-left: 15pt;">There are {{ num_participants }} players (including yourself) participating.
			<p style="margin-left: 15pt;">Any ties were broken by a random draw.
			
		</td></tr>
    </table>
	<h3>Auction results:</h3>
	
	<p> The auction closing price for this period was {{subsession.auction_price}}.</p>
	<p> A total of {{subsession.number_sold_auction}} permit{%if subsession.number_sold_auction > 1 %}s{% endif %} were sold in the auction.
	{% if ecr_removed > 0 %}
		<p> Due to the low bids for permits in the auction, <em>{{ecr_removed}} 
			{%if ecr_removed > 1 %}permits were {% else %}permit was{% endif %} 
			 retired from the auction before the closing price was calculated.</em> </p>
	{% endif %}
	{% if pcr_added > 0 %}
		<p> Due to the high bids for permits in the auction, <em>{{pcr_added}} 
			permit{%if pcr_added > 1 %}s{% endif %} 
			were added to the auction amount before the closing price was calculated.</em> </p>
	{% endif %}
	<h4>Your bids:</h4>
	{% if num_bids == 0 %}
		<p style="padding: 15px;"> You did not have any bids this period.</p>
	{% else %}
		<table style="padding-left: 8px;padding-right: 8px;"><tr><th>Accepted</th><th>Rejected</th></tr>
			<tr><td style="color: Green;font-weight: bold;font-size: 1.1em;padding-left: 8px;padding-right: 8px;">
    		{% for index,accepted,bid in bids %}
			{% if index == 0 and no_bids_accepted %}
				None
				</td><td style="color: Crimson;font-size: 1.1em;padding-left: 8px;padding-right: 8px;">
			{% elif index < how_many_accepted %}
				{{bid}}&nbsp;
				{% if how_many_accepted == forloop.counter %}
					</td><td style="color: Crimson;font-size: 1.1em;">
					{% if no_bids_rejected %}None{% endif %}
				{% endif %}
			{% elif forloop.counter <= num_bids %}
				{{bid}}&nbsp;
			{% endif %}
    		{% endfor %}</td> </tr>
		</table>
	{% endif %} <br />
	
	{% if subsession.ecr_reserve_amount > 0 %}
	<p>Due to high bidding, {{ pool_change }} permits were added to the pool, for a total of {{ pool_total }}.</p>
	{% elif subsession.ecr_reserve_amount < 0 %}
	<p>Due to low bidding, {{ pool_change }} permits were removed from the pool, for a total of {{ pool_total }}.</p>
	{% endif %}

	<p>You spent {{ subsession.auction_price }}/permit on {{ player.permits_purchased_auction }} 
		permit{% if player.permits_purchased_auction > 1 %}s{% endif %}
		for a total expenditure of {{total_spent }}.</p>

		<br >
    {% next_button %}
{% endblock %}

{% block styles %}

    <!-- define a style -->
	<style>
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
		font-size: 1em;
	}
	th, td {
	    padding: 5px;
	    text-align: left;
	}
	p {
	    font-family: verdana;
	    font-size: 1em;
	}
	</style>

    <!-- or reference a static file -->
    <link href="{% static "my_app/style.css" %}" rel="stylesheet">

{% endblock %}



