{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions: Page 4
{% endblock %}

{% block content %}

<h3>Session information</h3>

<ul>
	<li>Series of periods: There will be {{session.config.last_round}} periods in this session, each with an auction followed by a production decision.</li>
	<li>You can make as many bids as the bid entry form allows, which will be {{Constants.num_bids_low}} for low users and {{Constants.num_bids_high}} for high users. For high users, each bid will be for two permits, reflecting the greater need for permits to run these units.</li>
	<li>Production decision: After you know how many permits you have to work with, you will decide which capacity units to operate. This determines how many permits will be needed to meet the "compliance" obligation.</li>
	<li>Permits may be used for production in the current period or saved for use in later periods. You may wish to hold permits for later periods, if you think that they will be more valuable then. There is no limit to the number of permits you may hold. Permits will have no value at the end of the last period.</li>
	{% if Constants.must_run > 0 %}<li>Must-serve capacity: In each period, all producers must produce at least 
		[[Constants.must_run]] unit of output.</li>{% endif%}
	<li>The penalty for producing output without the necessary permits is {{Constants.penalty_amount}} per missing permit. (Very expensive!)</li>
	<li>Your starting cash endowment is: {{initial_cash_endowment}}. (Your cash holdings will change each round, depending on the actions you take, actions such as buying permits and operating production units.) Keep in mind, that the only way to make money is by running your capacity units at a profit.</li>


    {% next_button %}

	<hr><br />
	<table>
		<tr>
		<th>Round</th>
        {% for round in table_data.round_numbers %}
			<th> {{ round }}</th>
        {% endfor %}
		</tr>
		<tr>
			<td>Permits available</td>
        {% for cap in table_data.period_caps %}
			<td> {{ cap }}</td>
        {% endfor %}
		</tr>
		<tr>
			<td>Permit demand<br />at full capacity</td>
        {% for full_capacity_demand in table_data.full_capacity_permit_demand %}
			<td> {{ full_capacity_demand }}</td>
        {% endfor %}
		</tr>
	</table>
	


{% endblock %}

{% block styles %}

    <!-- define a style -->
	<style>
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
		font-size: 1.05em;
	}
	th, td {
	    padding: 5px;
	    text-align: left;
	}
	ul, li {
	    font-family: verdana;
	    font-size: larger;
		padding-bottom: 10px;
	}
	</style>


{% endblock %}
