{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<h3> Product and Permit Markets</h3>
<ul>
	<li>Product Market: You will have the role of a producer of a product that will be sold in a market.</li>

	<li>You will manage {{ player.capacity}} capacity units. Think of each capacity unit as a plant that can produce one unit of the product. You will be told the cost of operating the capacity unit, and the unit profit will be the price of the product minus the cost of producing that unit.</li>

	<li>Permits: Producers are required to obtain permits to cover their output. </li>

	<li>Permit Requirements: Different producers will need different numbers of permits for each unit produced. For <i>low users</i> the number of permits per unit output is {{ Constants.emission_intensity_low}}. <i>High users</i> need {{ Constants.emission_intensity_high }} permits for each unit of output. There are {{Constants.num_low_users}} low users in this market and {{Constants.num_high_users}} high users. <b>Your role during today's session will be: <em>{{ player_type}} user</em>.</b></li>

	<li>Product Price: In any period, the product price could be high, {{ high_output_price}} or low, 
		{{ Constants.low_output_price}}. The sequence of output prices is not known in advance, but the current price at which the output can be sold in a round will be announced at the start of each round. All producers receive the same price for a given round.</li>

	<li>Production Costs: The cost of production differ from one person to another, and new costs are randomly determined for each person at the start of each period. You will also have the cost of obtaining permits for each unit you produce.</li>

</ul>

<h3>Obtaining permits</h3>

<ul>
	<li>In each period, you may buy permits at auction, and the prices paid for these permits will be added to your costs. All {{session.config.num_demo_participants}} producers will be obtaining their permits through the auction.</li>

	<li>There is a limited supply of permits for sale at auction. The number of permits for sale will start at {{Constants.initial_cap}} in the first period and will fall by {{Constants.cap_decrement}} each subsequent period.</li>

	<li>In each period's auction, you will be able to make a number of bids for permits, and for each permit bid, you will specify a price that is the maximum that you are willing to pay in the auction for that permit. You may bid different values for each permit bid. As the supply of permits falls over time, fewer will be available to buy at auction. Your bids are only limited by your cash reserves.</li>

	<li>The bids will be sorted from high to low, and orders will be filled in that order until the available supply is exhausted. All permits will be sold in the auction at a single uniform price. The price is set to the value of the first bid that is <i>not</i> filled. So, for example, if there are 3 permits for sale, and the bids are 10,9,8,8,and 6, the first three bids will be successful and the last two will be rejected. The price the winning bidders pay will be 8, the value of the first rejected bid. Note that the winning bids will generally be higher than (or possibly equate to) the price actually paid for the permits. Ties will be resolved by a random device.</li>

	<li> The auction will have a reserve price of {{ Constants.reserve_price }}. No bids below this amount will be allowed. Any permits not sold at the auction (if there are any) will simply be retired and will not be sold at a later time.</li>

	<li>Additional supply: If the auction clearing price would be above a targeted maximum price of {{high_trigger_price}}, then additional permits will be offered for sale to reduce the likelihood that the auction price will rise above the targeted maximum. A stock of {{session.config.price_containment_reserve_amount}} is available for this purpose. This stock is replinished each period.</li>

	<li>Supply reductions: A "permit reduction reserve" of {{Constants.initial_ecr_reserve_amount}} has been established to keep the permit market from becoming oversupplied. If the auction price falls below {{Constants.ecr_trigger_price}}, then a number of permits, up to the reserve amount, will be retired rather than sold. The number sold will go down by one (1) for each {{Constants.reserve_increment}} the initial auction closing price would be below the trigger price. The final auction closing price will be calculated after the reserve permits have been removed from those available for sale. For example, given the bids of 10,9,8,8 and 6 as before but with a trigger price of $8.50, one permit would be retired and only two would be sold. In this case, the price would not change, because the first rejected bid is still $8.</li>
</ul>

<h3>Production</h3>

<ul>
	<li>You will have {{player.capacity}} units of capacity as shown by the rows in the table below.</li>
	<li>In each period the product price will be either low: {{Constants.low_output_price}}, or high: 
	{{high_output_price}}. The output price for each period is random with a 50% chance of either price. </li>
	<li>In this period, suppose that each unit produces a product that is sold for {{Constants.low_output_price}}, (table below, 2nd column).
	Your units are listed in order of increasing cost (3rd column).
	One or more permits are needed to operate each capacity unit (4th column).
	The current value of a permit (5th column) is the difference between the output price and the unit cost, divided by the required number of permits.</li>
	<li>Permits are indistinguishable, so you will be using the ones you obtain on the capacity units with low costs (and high values) at the top of the table.</li>
	<li>Remember that your earnings will be determined by differences between the values for permits used and what you pay for the permits.</li>
</ul>


<h3>Session information</h3>

<ul>
	<li>Series of Periods: There will be {{session.config.last_round}} periods in this session, each with an auction followed by a production decision.</li>
	<li>You can make as many bids as the bid entry form allows, which will be {{Constants.num_bids_low}} for low users and {{Constants.num_bids_high}} for high users.</li>
	<li>Production decision: After you know how many permits you have to work with, you will decide which capacity units to operate, which determines how many permits will be needed to meet the "compliance" obligation.</li>
	<li>Permits may be used for production in the current period or saved for use in later periods. Permits will have not value at the end of the last period.</li>
	<li>Must-serve capacity: In each period, all producers must produce at least one unit of output.</li>
	<li>The penalty for producing output without the necessary permits is {{Constants.penalty_amount}} per missing permit. (Very expensive!)</li>
	<li>Your initial cash endowment is: {{initial_cash_endowment}}</li>


    {% next_button %}
{% endblock %}

{% block styles %}

    <!-- define a style -->
	<style>
	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
		font-size: 1em;
	}
	th, td {
	    padding: 5px;
	    text-align: left;
	}
	ul, li {
	    font-family: verdana;
	    font-size: larger;
		padding-bottom: 10px;
	}
	</style>


{% endblock %}
